*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed";
}
body, html{
    overflow-x: hidden;
}
nav{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.checkboxmenu,
.toggle{
    display: none;
}
.menu{
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.menu li a{
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 8px 15px;
  
}
.menu li a:hover{
    background: #ffcc01;
    border-radius: 3px;
}
.menu li a.logo{
    font-size: 25px;
    margin-right: 240px;
}
.menu li a.contacts{
    margin-right: 100px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.intro{
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.introImg{
    background-image: url(../img/mainImg.jpg);
    background-position: center;
    width: 1085px;
    height: 480px;
}
.intro .introText{
    position: absolute;
    top: 220px;
    right: 650px;
    font-size: 62px;
}
.introContacts{
    background-color: #ffcc01;
    max-width: 590px;
    position: absolute;
    top: 490px;
    right: 130px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.introContacts i{
    color: white;
    margin-left: 30px;
}
.introContacts p{
    font-size: 20px;
}
.stats{
    display: flex;
    margin-top: 130px;
}
.stats-line{
    display: flex;
}
.stats-text{
    padding: 40px;
}
.stats-text h2{
    font-size: 40px;
    margin-bottom: 70px;
}
.stats-text p{
    margin-top: 50px;
    font-size: 14px;
    line-height: 27px;
}
.square{
    width: 200px;
    height: 200px;
    background-color:#f0efee;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square{
    font-size: 40px;
    color: #ffcc01;
    margin-bottom: 15px;
}
.square-text{
    font-size: 14px;
}

@media screen and (max-width: 765px){
    .toggle{
        width: 100%;
        clear: both;
        font-size: 20px;
        display: block;
        text-align: center;
        line-height: 40px;
        background-color: #ffcc01;
        transition: all .1s linear;
        /*position: absolute;
        top: 0;*/
    }
    .toggle:hover{
       color: white;
    }
    .checkboxmenu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .1s linear;
    }
    .checkboxmenu:checked + label .touch{
        height: 250px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .7s linear;
    }
    .menu li {
        display: flex;
        width: 95%;
        align-self: center;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95%;
        align-self: center;
        align-content: center;
        text-align: center;
    }
    .menu li a.logo{
        font-size: 20px;
        margin-right: 0px;
    }
    .menu li a.contacts{
        margin-right: 0px;
    }
    .intro{
        margin: 0;
        display: block;
        max-width: 100%;
    }
    .introImg{
        background-position: left 700px top -200px;
        height: 528px;
    }
    .intro .introText{
        position: relative;
        top: 150px; 
        left: 10px;
        font-size: 38px;
    }
   
    .intro .introContacts{
        position: relative;
       right: 0;
       top: -1px;
       padding: 15px;
    } 
    .intro .introContacts p{
        font-size: 12px;
    }
    .stats{
        margin: 0;
        flex-direction: column;
    }
    .stats-text{
        padding: 6px;
    }
    .stats-text h2{
        margin: 5px;
        font-size: 25px;
    }
    .stats-text p{
        margin: 5px;
        font-size: 12px;
    }
    .square{
        height: 100px;
    }
}